@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: white;
  color: black;
}

.cl-formButtonPrimary {
  background-color: black;
  color: #ffffff;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
