.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar .logo {
  flex: 1;
}

.navbar .nav_list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar .nav_list li {
  margin-right: 30px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .navbar .logo img {
    max-width: 80px;
    height: auto;
  }

  .navbar .nav_list {
    display: flex;
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .navbar .nav_list.show {
    transform: translateY(0);
  }

  .navbar .nav_list li {
    margin: 15px 0;
  }

  .Hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
  }

  .Hamburger .Bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
  }

  .Hamburger.active .Bar:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 50px;
  }

  .Hamburger.active .Bar:nth-child(2) {
    opacity: 0;
  }

  .Hamburger.active .Bar:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 50px;
  }
}

.navbar .logo img {
  max-width: 100px;
  height: auto;
}
